<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.citizensadvice" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="CitizensAdvice.Android">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD84x8lh1rJU8iJfCBVISDz6pF_q3_J8e4" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <!--If it target API 28 or higher, this is needed:-->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>